*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.primero, .segundo{
    height: fit-content;
    padding: 100px 50px;
    background-color: #f0f0f0;
}
.segundo{
    height: 600px;
}

.primero{
    background-image: url(imagenes/bgowl.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.caja{
    width: 300px;
    height: 320px;
    border-radius: 20px;
    background-color: #fff;
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja p{
    margin-top: 80px;
    text-align: center;
    opacity: 0;
    transition: 1s;
}
.caja button{
    margin-top: 15px;
    background-color: rgb(43, 43, 255);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}
.caja button:hover{
    box-shadow: 3px 4px 8px grey;
}
.caja h2{
    text-align: center;
}

.caja:hover .up{
    top: -100px;
}
.caja:hover p, .caja:hover button{
    opacity: 1;
}

.caja .up{
    position: absolute;
    top: 50px;
    transition: 1s;
}
.caja .up .img{
    width: 220px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 3px 5px #939393;
}
.caja .up .img1{
    background-image: url(imagenes/owl1.png);
}
.caja .up .img2{
    background-position: 0 -50px;
    background-image: url(imagenes/owl2.jpg);
}
.caja .up .img3{
    background-image: url(imagenes/owl3.webp);
}