*{
    margin: 0;
    box-sizing: 0;
}
body{
    overflow-x: hidden;
    
    font-family: 'Ranchers', cursive;
}
nav{
    position: fixed;
    height: 100vh;
    left: -350px;
    width: 300px;
    background-color: rgb(226, 225, 225);
    box-shadow: 8px 0px 15px rgba(128, 128, 128, 0.801);
    transition: 1.5s left;
    z-index: 10;
}
nav ul{
    margin-top: 5em;
    list-style: none;
}

nav ul li a{
    background-color: #fff;
    width: 200px;
    margin: 1em;
    padding: 1.2em 0em;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    transition: .5s;
}
nav ul li a:hover{
    background: linear-gradient(45deg, rgb(105, 174, 253), rgb(0, 55, 128));
    transform: translateX(10px);
    box-shadow: -8px 2px 5px;
}
label{
    position: absolute;
    top: 2em;
    left: 2em;
    cursor: pointer;
    z-index: 1;
}
label i{
    font-size: 2.5em;
}
input{
    display: none;
}

input:checked ~ nav{
    left: 0;
}

header{
    height: 450px;
    background: radial-gradient(rgb(23, 170, 255) 15%, rgb(0, 35, 63));
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 150%;
    transform: translateX(-17%);
    display: flex;
    justify-content: center;
}
header h1{
    align-self: flex-end;
    margin-bottom: 1em;
    font-size: 10em;
    color: white;
    
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Ranchers', cursive;x */
}

section{
    height: auto;
    margin-top: 1em;
}
.contenedor1{
    height: 600px;
    margin: .5em 0;
    padding: 2em;
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
}
.contenedor1 video{
    width: 50%;
    border-radius: 10px;
}
.contenedor1 .video iframe{
    width: 35em;
    height: 20em;
}

.contenedor1 .video video{
    width: 35em;
}


.ubicacion{
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ubicacion .infoContacto p{
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.2em;
}
.ubicacion .infoContacto a{
    color: blue;
}
.ubicacion iframe{
    box-shadow: 4px 4px 10px black;
}